@page
@model MyCoreApp.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, I’m Jerome Quayson!!!👋</h1>

    <p>Welcome to my mini Dev homepage for COMP367.</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>

    <h3>What I’m learning:</h3>
    <ul style="list-style: none; padding-left: 0;">
        <li>✅ Git & GitHub version control</li>
        <li>✅ ASP.NET Core Razor Pages</li>
        <li>✅ Branching, issues, pull requests</li>
        <li>✅ Mastering Git </li>
    </ul>

    <p>
        Check out my lab repository:
        <a href="https://github.com/xilixiao387-byte/comp367-lab1" target="_blank">GitHub Repo</a>
    </p>

    <p><em>Today is @ViewData["TimeStamp"]</em></p>
</div>
